@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: rgb(210, 217, 225); */
  /* background-color: white; */
  /* background-color: rgb(147 197 253); */
  background-color: #a8cedf;

  font-family: "Nunito Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
